.overlay {
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.main {
    width: 850px;
    height: 500px;
    margin: 0 auto;
   
}

.video {
    width: 100%;
    height: 450px;
    background: gray;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 92px;
    right: 295px;
    cursor: pointer;
   
}

.description {
    min-height: 300px;
    color: azure;
    padding: 22px 50px;
    background: black;
    height: 200px;
    border-radius: 10px;
}

.name {
    font-size: 30px;
}

.facts {
    width: 200px;
    display: flex;
    color: gray;
    justify-content: space-between;
    margin-top: 20px;
}

.desc {
    
    margin-top: 20px;
    color: gray;
}


